body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F8E8EE;
}

.logo {
    width: 150px;
    margin-bottom: 20px;
}

.calculator {
    background: #F5F5DC;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

input {
    width: 100%;
    height: 50px;
    font-size: 1.5em;
    text-align: right;
    margin-bottom: 10px;
    background-color: #D1C4E9;
    color: #333;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

button {
    padding: 15px;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #B7E5DD;
    border: none;
    border-radius: 5px;
    transition: background 0.3s;
}

button:hover {
    background-color: #A0D8B3;
}
